# C. Increate the number of epochs (5 marks)

Repeat Part B but use 100 epochs this time for training.

#### Download and Clean Dataset

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

##### There are 1030 samples to train a model on. Because of the few samples, we have to be careful not to overfit the training data.

#### Let's check the dataset for any missing values.

In [4]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

There are no any missing value in our columns.

#### Let's describe our dataset

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
predictors = concrete_data.drop('Strength',axis=1)
target = concrete_data['Strength'] # Strength column

#### Check the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

### Normalize the data by substracting the mean and dividing by the standard deviation.

##### Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation.

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

##### Save the number of predictors to *n_cols* since we will need this number when building our network.

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors 1 dimension array

In [11]:
n_cols

8

#### Let's import the Keras library

In [12]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [13]:
from keras.models import Sequential
from keras.layers import Dense

#### Build a Neural Network

###### Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [14]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
   
    return model

###### The above function create a model that has One hidden layer of 10 nodes, and a ReLU activation function.Use the adam optimizer and the mean squared error  as the loss function.

##### Randomly split the data into a training and test sets by holding 30% of the data for testing.

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state= 42)

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/sklearn/utils/validation.py:37: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  LARGE_SPARSE_SUPPORTED = LooseVersion(scipy_version) >= '0.14.0'

In [16]:
print('Train set:',X_train.shape,y_train.shape)
print('Test set:',X_test.shape,y_test.shape)

Train set: (721, 8) (721,)
Test set: (309, 8) (309,)


#### Train and Test the Network

##### Call the function now to create our model.

### Train the model on the training data using 100 epochs.

In [17]:
# build the model
model = regression_model()

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:68: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:508: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3837: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/optimizers.py:757: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [18]:
# fit the model
model.fit(X_train, y_train, epochs= 100 , verbose = 1)

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:977: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:964: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Epoch 1/100

2022-07-24 10:29:57.823055: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 AVX512F FMA
2022-07-24 10:29:57.834960: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 2593900000 Hz
2022-07-24 10:29:57.835694: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x565401aad1b0 executing computations on platform Host. Devices:
2022-07-24 10:29:57.835750: I tensorflow/compiler/xla/service/service.cc:175]   StreamExecutor device (0): <undefined>, <undefined>
2022-07-24 10:29:57.910426: W tensorflow/compiler/jit/mark_for_compilation_pass.cc:1412] (One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want XLA:CPU, either set that envvar, or use experimental_jit_scope to enable XLA:CPU.  To confirm that XLA is active, pass --vmodule=xla_compilation_cache=1 (as a proper command-line flag, not via TF_XLA_FLAGS) or set the envvar XLA_FLAGS=--xla_hlo_profile.

721/721 [==============================] - 0s 404us/step - loss: 188614.5539
Epoch 2/100
721/721 [==============================] - 0s 106us/step - loss: 101278.7073
Epoch 3/100
721/721 [==============================] - 0s 89us/step - loss: 49782.7246
Epoch 4/100
721/721 [==============================] - 0s 104us/step - loss: 21972.5449
Epoch 5/100
721/721 [==============================] - 0s 87us/step - loss: 7986.0091
Epoch 6/100
721/721 [==============================] - 0s 83us/step - loss: 2331.8136
Epoch 7/100
721/721 [==============================] - 0s 81us/step - loss: 783.8059
Epoch 8/100
721/721 [==============================] - 0s 82us/step - loss: 549.0799
Epoch 9/100
721/721 [==============================] - 0s 82us/step - loss: 512.4131
Epoch 10/100
721/721 [==============================] - 0s 79us/step - loss: 491.4097
Epoch 11/100
721/721 [==============================] - 0s 63us/step - loss: 470.7509
Epoch 12/100
721/721 [==============================] - 0s 78us/step - loss: 451.5988
Epoch 13/100
721/721 [==============================] - 0s 77us/step - loss: 433.8304
Epoch 14/100
721/721 [==============================] - 0s 63us/step - loss: 416.4768
Epoch 15/100
721/721 [==============================] - 0s 64us/step - loss: 401.1216
Epoch 16/100
721/721 [==============================] - 0s 78us/step - loss: 385.6599
Epoch 17/100
721/721 [==============================] - 0s 77us/step - loss: 373.1256
Epoch 18/100
721/721 [==============================] - 0s 61us/step - loss: 360.6532
Epoch 19/100
721/721 [==============================] - 0s 75us/step - loss: 349.0725
Epoch 20/100
721/721 [==============================] - 0s 62us/step - loss: 338.9728
Epoch 21/100
721/721 [==============================] - 0s 78us/step - loss: 329.4979
Epoch 22/100
721/721 [==============================] - 0s 82us/step - loss: 320.5806
Epoch 23/100
721/721 [==============================] - 0s 76us/step - loss: 313.1244
Epoch 24/100
721/721 [==============================] - 0s 64us/step - loss: 305.2880
Epoch 25/100
721/721 [==============================] - 0s 77us/step - loss: 298.8234
Epoch 26/100
721/721 [==============================] - 0s 81us/step - loss: 292.8616
Epoch 27/100
721/721 [==============================] - 0s 62us/step - loss: 286.9827
Epoch 28/100
721/721 [==============================] - 0s 76us/step - loss: 281.8222
Epoch 29/100
721/721 [==============================] - 0s 62us/step - loss: 276.6810
Epoch 30/100
721/721 [==============================] - 0s 75us/step - loss: 272.2993
Epoch 31/100
721/721 [==============================] - 0s 61us/step - loss: 267.7684
Epoch 32/100
721/721 [==============================] - 0s 68us/step - loss: 264.0429
Epoch 33/100
721/721 [==============================] - 0s 75us/step - loss: 260.2784
Epoch 34/100
721/721 [==============================] - 0s 83us/step - loss: 255.7568
Epoch 35/100
721/721 [==============================] - 0s 75us/step - loss: 252.4735
Epoch 36/100
721/721 [==============================] - 0s 68us/step - loss: 248.6405
Epoch 37/100
721/721 [==============================] - 0s 77us/step - loss: 246.2227
Epoch 38/100
721/721 [==============================] - 0s 79us/step - loss: 242.6237
Epoch 39/100
721/721 [==============================] - 0s 76us/step - loss: 239.5636
Epoch 40/100
721/721 [==============================] - 0s 61us/step - loss: 236.7252
Epoch 41/100
721/721 [==============================] - 0s 74us/step - loss: 233.6916
Epoch 42/100
721/721 [==============================] - 0s 65us/step - loss: 230.8836
Epoch 43/100
721/721 [==============================] - 0s 74us/step - loss: 228.1412
Epoch 44/100
721/721 [==============================] - 0s 63us/step - loss: 226.0595
Epoch 45/100
721/721 [==============================] - 0s 79us/step - loss: 223.1611
Epoch 46/100
721/721 [==============================] - 0s 76us/step - loss: 221.2326
Epoch 47/100
721/721 [==============================] - 0s 61us/step - loss: 218.2355
Epoch 48/100
721/721 [==============================] - 0s 78us/step - loss: 216.4308
Epoch 49/100
721/721 [==============================] - 0s 80us/step - loss: 213.3732
Epoch 50/100
721/721 [==============================] - 0s 62us/step - loss: 211.7175
Epoch 51/100
721/721 [==============================] - 0s 62us/step - loss: 209.3609
Epoch 52/100
721/721 [==============================] - 0s 78us/step - loss: 206.8840
Epoch 53/100
721/721 [==============================] - 0s 79us/step - loss: 205.1011
Epoch 54/100
721/721 [==============================] - 0s 62us/step - loss: 203.4179
Epoch 55/100
721/721 [==============================] - 0s 74us/step - loss: 201.2185
Epoch 56/100
721/721 [==============================] - 0s 63us/step - loss: 199.2159
Epoch 57/100
721/721 [==============================] - 0s 77us/step - loss: 197.2610
Epoch 58/100
721/721 [==============================] - 0s 107us/step - loss: 195.0243
Epoch 59/100
721/721 [==============================] - 0s 67us/step - loss: 193.4110
Epoch 60/100
721/721 [==============================] - 0s 64us/step - loss: 191.5544
Epoch 61/100
721/721 [==============================] - 0s 78us/step - loss: 189.8224
Epoch 62/100
721/721 [==============================] - 0s 81us/step - loss: 187.9097
Epoch 63/100
721/721 [==============================] - 0s 87us/step - loss: 186.1637
Epoch 64/100
721/721 [==============================] - 0s 78us/step - loss: 184.9194
Epoch 65/100
721/721 [==============================] - 0s 82us/step - loss: 182.9977
Epoch 66/100
721/721 [==============================] - 0s 83us/step - loss: 181.2506
Epoch 67/100
721/721 [==============================] - 0s 63us/step - loss: 179.8513
Epoch 68/100
721/721 [==============================] - 0s 90us/step - loss: 178.1723
Epoch 69/100
721/721 [==============================] - 0s 78us/step - loss: 177.1296
Epoch 70/100
721/721 [==============================] - 0s 79us/step - loss: 175.2813
Epoch 71/100
721/721 [==============================] - 0s 62us/step - loss: 174.1401
Epoch 72/100
721/721 [==============================] - 0s 74us/step - loss: 172.6874
Epoch 73/100
721/721 [==============================] - 0s 62us/step - loss: 171.6137
Epoch 74/100
721/721 [==============================] - 0s 86us/step - loss: 170.5865
Epoch 75/100
721/721 [==============================] - 0s 63us/step - loss: 168.8053
Epoch 76/100
721/721 [==============================] - 0s 79us/step - loss: 167.4437
Epoch 77/100
721/721 [==============================] - 0s 61us/step - loss: 165.9050
Epoch 78/100
721/721 [==============================] - 0s 76us/step - loss: 164.9226
Epoch 79/100
721/721 [==============================] - 0s 85us/step - loss: 163.5448
Epoch 80/100
721/721 [==============================] - 0s 78us/step - loss: 162.6701
Epoch 81/100
721/721 [==============================] - 0s 78us/step - loss: 161.2449
Epoch 82/100
721/721 [==============================] - 0s 60us/step - loss: 161.9276
Epoch 83/100
721/721 [==============================] - 0s 79us/step - loss: 159.7037
Epoch 84/100
721/721 [==============================] - 0s 64us/step - loss: 157.5090
Epoch 85/100
721/721 [==============================] - 0s 74us/step - loss: 156.4279
Epoch 86/100
721/721 [==============================] - 0s 81us/step - loss: 155.3621
Epoch 87/100
721/721 [==============================] - 0s 62us/step - loss: 154.4379
Epoch 88/100
721/721 [==============================] - 0s 77us/step - loss: 153.7199
Epoch 89/100
721/721 [==============================] - 0s 78us/step - loss: 152.1970
Epoch 90/100
721/721 [==============================] - 0s 62us/step - loss: 150.9682
Epoch 91/100
721/721 [==============================] - 0s 77us/step - loss: 149.8306
Epoch 92/100
721/721 [==============================] - 0s 64us/step - loss: 148.9786
Epoch 93/100
721/721 [==============================] - 0s 77us/step - loss: 147.7975
Epoch 94/100
721/721 [==============================] - 0s 82us/step - loss: 147.2553
Epoch 95/100
721/721 [==============================] - 0s 76us/step - loss: 145.9465
Epoch 96/100
721/721 [==============================] - 0s 75us/step - loss: 145.2086
Epoch 97/100
721/721 [==============================] - 0s 64us/step - loss: 144.5126
Epoch 98/100
721/721 [==============================] - 0s 76us/step - loss: 143.0236
Epoch 99/100
721/721 [==============================] - 0s 62us/step - loss: 142.5668
Epoch 100/100
721/721 [==============================] - 0s 77us/step - loss: 142.5994

##### Evaluate the model on the test data

In [19]:
train_mse = model.evaluate(X_train, y_train,verbose=0)
test_mse= model.evaluate(X_test, y_test,verbose=0)
print('Train: %.2f, Test:%.2f' % (train_mse,test_mse))

Train: 141.57, Test:125.12

In [20]:
y_pred = model.predict(X_test)

##### Compute the mean squared error between the predicted concrete strength and the actual concrete strength. 

##### Use the mean_squared_error function from Scikit-learn.

In [21]:
from sklearn.metrics import mean_squared_error

In [22]:
MSE = mean_squared_error(y_test, y_pred)
MSE

125.12391543432658

##### Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

In [23]:
list_mse = []
for i in range(0,50):
    # Randomly split the data 
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3)
    #Train Model, Evaluation and Predict  
    model.fit(X_train, y_train, epochs=100, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    y_pred = model.predict(X_test)
    print('MSE' +str(i+1) +':',(MSE))
    # creat list of mean squared error
    mean_square_error = mean_squared_error(y_test, y_pred)
    list_mse.append(mean_square_error)

MSE1: 117.71121430628509
MSE2: 65.10048369373705
MSE3: 63.80508822839237
MSE4: 45.73170814390707
MSE5: 43.50081840687971
MSE6: 48.38233704551524
MSE7: 39.08862807141153
MSE8: 43.053701567418365
MSE9: 32.515307651754334
MSE10: 45.77544430235829
MSE11: 49.016047567225584
MSE12: 35.319945955739435
MSE13: 38.76606298650353
MSE14: 46.723580715339935
MSE15: 41.39321180917684
MSE16: 38.55233680700407
MSE17: 46.977319266803825
MSE18: 48.365705953061
MSE19: 41.61164147336892
MSE20: 36.7702180189608
MSE21: 50.050809335554305
MSE22: 47.06519981804018
MSE23: 45.499860251219914
MSE24: 47.815324678390155
MSE25: 40.421412384625775
MSE26: 44.824544764645275
MSE27: 42.12373776729053
MSE28: 45.24861777098819
MSE29: 43.43266434654063
MSE30: 44.70211021645555
MSE31: 46.15356205813707
MSE32: 39.52604377771273
MSE33: 45.730695780041145
MSE34: 39.794422816304326
MSE35: 43.038740756828034
MSE36: 52.64670846686008
MSE37: 48.94202674939795
MSE38: 42.016471899828865
MSE39: 40.27917981687873
MSE40: 40.258806173083855
MSE41: 39.92195657773311
MSE42: 36.129812345535626
MSE43: 37.49088778079135
MSE44: 48.58848144630012
MSE45: 37.85759556100592
MSE46: 42.777985668491006
MSE47: 43.45478405998748
MSE48: 34.77015537274308
MSE49: 41.097432726023655
MSE50: 38.10342446731518

##### Report the mean and the standard deviation of the mean squared errors.

In [24]:
list_mse = np.array(list_mse)

In [25]:
print('The mean of the mean squared errors:',np.mean(list_mse))
print('The standard deviation of the mean squared errors:',np.std(list_mse))

The mean of the mean squared errors: 45.15848501753694
The standard deviation of the mean squared errors: 12.011021892798539

# How does the mean of the mean squared errors compare to that from Step B?

In [26]:
report = [['B','52.22','14.87'],\
          ['C',"%.2f"%np.mean(list_mse),"%.2f"%np.std(list_mse)]]
df_r=pd.DataFrame(report, columns=['PART','Mean of MSE','SD of MSE'])
df_r

  PART Mean of MSE SD of MSE
0    B       52.22     14.87
1    C       45.16     12.01

The mean of the mean squared errors and The standard deviation of the mean squared errors of 
#### C is less than than B #### 
when we used 100 epochs.